*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* 100% here would mean that the root font-size would be 16px if the user doesn't change the default browser font size. */
  /* But we want 10px so that the convertion to rem becomes pretty easy. */
  /* So: 10 / 16 = 0.625 = 62.5% */
  font-size: 62.5%;

  @include respond(tab-land) {
    font-size: 56.25%; //1rem = 9px, 9/16 = 56.25%
  }

  @include respond(tab-port) {
    font-size: 50%; //1rem = 8px, 8/16 = 50%
  }

  @include respond(big-desktop) {
    font-size: 75%; //1rem = 12px, 12/16 = 75%
  }
}

body {
  box-sizing: border-box;
  padding: 3rem;

  @include respond(tab-port) {
    padding: 0;
  }
}

::selection {
  background-color: $color-primary;
  color: $color-white;
}
